<controller-info>
    <controller-host>CONTROLLERINFO</controller-host>
    <controller-port>443</controller-port>
    <application-name>APP</application-name>
    
    <!-- server visibility settings -->
    <sim-enabled>true</sim-enabled>
    
</controller-info>
